<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=107066733', 'ym');

    ym(107066733, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/107066733" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Google Analytics (loaded via header partial for all pages) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S4SLSBXJSP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-S4SLSBXJSP');
</script>

<section class="container" id="header">
  <header class="header">

    <div class="header-social-left">
      <a href="https://www.linkedin.com/in/saikal-kaparbekova-18416313a/" target="_blank" class="header-link">
        <img src="/assets/linkedin.svg" alt="LinkedIn" class="header-icon">
        LinkedIn
      </a>
      <a href="https://t.me/ambr0se_spellman" target="_blank" class="header-link">
        <img src="/assets/telegram.svg" alt="Telegram" class="header-icon">
        Telegram
      </a>
      <a href="mailto:kaparbekovasaikal@gmail.com" class="header-link">
        <img src="/assets/envelope.svg" alt="Email" class="header-icon">
        Email
      </a>
    </div>

    <div class="header-item logo">
      <a href="/index.html">
        <img class="logo_img" src="/assets/logo.jpg" alt="Saikal Kaparbekova Logo" />
      </a>
    </div>

    <div class="header-social-right">
      <a class="header-link nav-link" href="/about.html" data-lang="menu-item-about">about</a>
      <a class="header-link nav-link" href="#contacts" data-lang="menu-item-contacts">contacts</a>
      <div class="header-item lang">
        <button class="lang-button" data-btn="ru">ru</button>
        <button class="lang-button" data-btn="en">en</button>
      </div>
      <button class="menu-toggle" aria-label="Toggle menu">
        <span class="menu-icon"></span>
        <span class="menu-icon"></span>
        <span class="menu-icon"></span>
      </button>
    </div>


  </header>

  <div class="menu-dropdown">
    <nav class="nav-items">
      <ul>
        <li><a class="nav-link" href="/about.html" data-lang="menu-item-about">about</a></li>
        <li><a class="nav-link" href="#contacts" data-lang="menu-item-contacts">contacts</a></li>
      </ul>
    </nav>
    <div class="nav-social">
      <a href="https://www.linkedin.com/in/saikal-kaparbekova-18416313a/" target="_blank" class="nav-social-link">
        <img src="/assets/linkedin.svg" alt="LinkedIn" class="header-icon">
        LinkedIn
      </a>
      <a href="https://t.me/ambr0se_spellman" target="_blank" class="nav-social-link">
        <img src="/assets/telegram.svg" alt="Telegram" class="header-icon">
        Telegram
      </a>
      <a href="mailto:kaparbekovasaikal@gmail.com" class="nav-social-link">
        <img src="/assets/envelope.svg" alt="Email" class="header-icon">
        Email
      </a>
    </div>
  </div>

</section>
